## Instructions
- Utilisez **SQLAlchemy** pour interagir avec une base de données **PostgreSQL**.
- Assurez-vous que les tables respectent les contraintes de clés étrangères.
- Testez chaque requête avec les données fournies pour vérifier les résultats.


## Installation des prérequis
Exécutez la commande suivante pour installer les bibliothèques nécessaires :
```bash
pip install sqlalchemy psycopg2-binary
```

## Configuration de la base de données
Remplacez la chaîne de connexion dans le code par vos informations PostgreSQL, par exemple :
```python
engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
```

# Exercice : Gestion d’un Restaurant avec SQLAlchemy et PostgreSQL

## Contexte
Vous êtes chargé de développer une application de gestion pour un restaurant. L'objectif est de modéliser et interagir avec une base de données pour gérer les plats, les catégories, les commandes et les clients à l'aide de **SQLAlchemy** et **PostgreSQL**. Les tâches incluent la création des tables, l'insertion de données, et l'exécution de requêtes.

Le restaurant souhaite suivre :
- Les **plats** disponibles (nom, prix, description, catégorie).
- Les **commandes** passées par les clients (date, contenu, total).
- Les **clients** (nom, email).
- Les **catégories** de plats (ex. : Entrée, Plat principal, Dessert, Boisson).

Créez une base de données nommée `restaurant_db` dans PostgreSQL avant d'exécuter le code.


## Structure des Tables
Voici la structure enrichie des tables à créer dans PostgreSQL :

- **categories** :
  - `id` (PK, entier)
  - `nom` (varchar, ex. : Entrée, Dessert)

- **plats** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `prix` (décimal)
  - `description` (varchar)
  - `categorie_id` (FK vers categories)

- **clients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `email` (varchar)
  - `telephone` (varchar, nullable)

- **commandes** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `date_commande` (timestamp)
  - `total` (décimal)

- **commande_plats** (table de liaison) :
  - `commande_id` (FK vers commandes)
  - `plat_id` (FK vers plats)
  - `quantite` (entier)

- **ingredients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `cout_unitaire` (décimal)
  - `stock` (décimal, en kg ou unités)
  - `fournisseur_id` (FK vers fournisseurs)

- **fournisseurs** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `contact` (varchar)

- **plat_ingredients** (table de liaison) :
  - `plat_id` (FK vers plats)
  - `ingredient_id` (FK vers ingredients)
  - `quantite_necessaire` (décimal, en kg ou unités par plat)

- **avis** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `plat_id` (FK vers plats)
  - `note` (entier, 1 à 5)
  - `commentaire` (text, nullable)
  - `date_avis` (timestamp)

## Données à insérer
Insérez les données suivantes pour tester les requêtes. Les données sont diversifiées pour inclure des variations réalistes.

### categories

| id | nom            |
|----|----------------|
| 1  | Entrée         |
| 2  | Plat principal |
| 3  | Dessert        |
| 4  | Boisson        |
| 5  | Végétarien     |

### plats
| id | nom                 | prix  | description                     | categorie_id |
|----|---------------------|-------|---------------------------------|--------------|
| 1  | Salade César        | 45.00 | Salade avec poulet grillé       | 1            |
| 2  | Soupe de légumes    | 30.00 | Soupe chaude de saison          | 1            |
| 3  | Steak frites        | 90.00 | Viande grillée et frites        | 2            |
| 4  | Pizza Margherita    | 70.00 | Pizza tomate & mozzarella       | 2            |
| 5  | Tiramisu            | 35.00 | Dessert italien                 | 3            |
| 6  | Glace 2 boules      | 25.00 | Glace au choix                  | 3            |
| 7  | Coca-Cola           | 15.00 | Boisson gazeuse                 | 4            |
| 8  | Eau minérale        | 10.00 | Eau plate ou gazeuse            | 4            |
| 9  | Curry de légumes    | 65.00 | Plat végétarien épicé           | 5            |
| 10 | Falafel wrap        | 50.00 | Wrap avec falafels et légumes   | 5            |

### clients
| id | nom                | email                  | telephone      |
|----|--------------------|------------------------|----------------|
| 1  | Amine Lahmidi      | amine@example.com      | +212600123456  |
| 2  | Sara Benali        | sara.b@example.com     | +212600654321  |
| 3  | Youssef El Khalfi  | youssef.k@example.com  | NULL           |
| 4  | Fatima Zahra       | fatima.z@example.com   | +212600987654  |
| 5  | Omar Alaoui        | omar.a@example.com     | +212600112233  |

### commandes
| id | client_id | date_commande         | total  |
|----|-----------|-----------------------|--------|
| 1  | 1         | 2025-07-07 12:30:00   | 120.00 |
| 2  | 2         | 2025-07-07 13:00:00   | 85.00  |
| 3  | 1         | 2025-07-08 19:45:00   | 150.00 |
| 4  | 3         | 2025-08-15 18:30:00   | 200.00 |
| 5  | 4         | 2025-09-01 20:00:00   | 95.00  |
| 6  | 5         | 2025-09-10 12:15:00   | 75.00  |

### commande_plats
| commande_id | plat_id | quantite |
|-------------|---------|----------|
| 1           | 1       | 1        |
| 1           | 3       | 1        |
| 1           | 7       | 2        |
| 2           | 2       | 1        |
| 2           | 4       | 1        |
| 2           | 8       | 1        |
| 3           | 3       | 1        |
| 3           | 5       | 1        |
| 3           | 7       | 1        |
| 4           | 4       | 2        |
| 4           | 9       | 1        |
| 5           | 10      | 1        |
| 5           | 8       | 2        |
| 6           | 7       | 3        |
| 6           | 6       | 1        |

### fournisseurs
| id | nom                | contact                |
|----|--------------------|------------------------|
| 1  | AgriFresh          | contact@agrifresh.com  |
| 2  | MeatSupplier       | info@meatsupplier.com  |
| 3  | BevCo              | sales@bevco.com        |
| 4  | DairyFarm          | dairy@farm.com         |

### ingredients
| id | nom                | cout_unitaire | stock | fournisseur_id |
|----|--------------------|---------------|-------|---------------|
| 1  | Poulet             | 15.00         | 50    | 2             |
| 2  | Laitue             | 5.00          | 20    | 1             |
| 3  | Tomate             | 3.00          | 30    | 1             |
| 4  | Mozzarella         | 10.00         | 15    | 4             |
| 5  | Pomme de terre     | 2.00          | 100   | 1             |
| 6  | Café               | 20.00         | 5.    | 3             |
| 7  | Sucre              | 1.50          | 25    | 3             |
| 8  | Pois chiches       | 4.00          | 40    | 1             |

### plat_ingredients
| plat_id | ingredient_id | quantite_necessaire |
|---------|---------------|---------------------|
| 1       | 1             | 0.2                 |
| 1       | 2             | 0.1                 |
| 2       | 2             | 0.05                |
| 2       | 5             | 0.1                 |
| 3       | 1             | 0.3                 |
| 3       | 5             | 0.2                 |
| 4       | 3             | 0.1                 |
| 4       | 4             | 0.15                |
| 5       | 6             | 0.05                |
| 5       | 7             | 0.02                |
| 9       | 8             | 0.1                 |
| 10      | 8             | 0.15                |

### avis
| id | client_id | plat_id | note | commentaire                       | date_avis           |
|----|-----------|---------|------|----------------------------------|---------------------|
| 1  | 1         | 1       | 4    | Très frais, poulet bien cuit     | 2025-07-07 13:00:00 |
| 2  | 2         | 4       | 5    | Meilleure pizza du coin !        | 2025-07-07 14:00:00 |
| 3  | 3         | 9       | 3    | Un peu trop épicé                | 2025-08-15 19:00:00 |
| 4  | 4         | 10      | 4    | Bon, mais manque de sauce        | 2025-09-01 21:00:00 |
| 5  | 5         | 6       | 5    | Glace délicieuse                 | 2025-09-10 13:00:00 |

## Requêtes à réaliser
Créez un programme Python utilisant **SQLAlchemy** pour effectuer les tâches suivantes :

1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.
2. Insérer les données fournies ci-dessus.
3. Lister tous les plats triés par prix décroissant.
4. Lister tous les plats dont le prix est compris entre 30 et 80.
5. Afficher les clients dont le nom commence par "S" ou "F".
6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).
7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.
8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.
10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
11. Afficher le nombre de commandes par client, trié par ordre décroissant.
12. Afficher les clients ayant passé plus de deux commandes.
13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).
14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).
15. Afficher la commande la plus récente avec le nom du client et les plats commandés.
16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.
18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.
19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
20. Afficher pour chaque client :
    - Son nom
    - Le nombre total de plats commandés
    - Le montant total dépensé
    - La note moyenne de leurs avis
21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.
22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.
23. Créer une vue virtuelle (SELECT) qui affiche :
    - Le nom du client
    - Les plats commandés
    - Les quantités
    - La date de la commande
    - La note moyenne du plat (via avis)
24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

In [55]:
## 1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.
from sqlalchemy import MetaData,create_engine,Table,Column,Integer, String,insert,Numeric,ForeignKey,DateTime,Text
from datetime import datetime

engine=create_engine('postgresql://postgres:1234@localhost:5432/gestion_restaurant')

try:
    with engine.connect() as conn:
        print(" Connexion réussie à PostgreSQL")
except Exception as e:
    print("Erreur de connexion :", e)
    
metadata=MetaData()
clients=Table(
    "clients",metadata,
    Column("id",Integer,primary_key=True,autoincrement=True),
    Column("nom",String),
    Column("email",String),
    Column("telephone",String,nullable=True)
)
categories=Table(
    "categories",metadata,
    Column("id",Integer,primary_key=True,autoincrement=True),
    Column("nom",String)
)
plats=Table(
   "plats",metadata,
   Column("id",Integer,primary_key=True,autoincrement=True),
   Column("nom",String),
   Column("prix",Numeric(4,2)),
   Column("description",String),
   Column("categorie_id",Integer,ForeignKey("categories.id",ondelete="CASCADE",onupdate="CASCADE"))
)

commandes=Table(
   "commandes",metadata,
   Column("id",Integer,primary_key=True,autoincrement=True),
   Column("client_id",Integer,ForeignKey("clients.id",ondelete="CASCADE",onupdate="CASCADE")),
   Column("date_commande",DateTime,default=datetime.now())
)
commande_plats=Table(
   "commande_plats",metadata,
   Column("commande_id",Integer,ForeignKey("commandes.id",ondelete="CASCADE",onupdate="CASCADE"),primary_key=True),
   Column("plat_id",Integer,ForeignKey("plats.id",ondelete="CASCADE",onupdate="CASCADE"),primary_key=True),
   Column("quantite",Integer)

)

fournisseurs = Table(
    "fournisseurs", metadata,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("contact", String)
)

ingredients = Table(
    "ingredients", metadata,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("cout_unitaire", Numeric(10, 2)),   
    Column("stock", Numeric(10, 2)),           
    Column("fournisseur_id", Integer, ForeignKey("fournisseurs.id",ondelete="CASCADE",onupdate="CASCADE"))
)

plat_ingredients = Table(
    "plat_ingredients", metadata,
    Column("plat_id", Integer, ForeignKey("plats.id",ondelete="CASCADE",onupdate="CASCADE"), primary_key=True),
    Column("ingredient_id", Integer, ForeignKey("ingredients.id",ondelete="CASCADE",onupdate="CASCADE"),primary_key=True),
    Column("quantite_necessaire", Numeric(10, 2))  
)

avis = Table(
    "avis", metadata,
    Column("id", Integer, primary_key=True),
    Column("client_id", Integer, ForeignKey("clients.id",ondelete="CASCADE",onupdate="CASCADE")),
    Column("plat_id", Integer, ForeignKey("plats.id",ondelete="CASCADE",onupdate="CASCADE")),
    Column("note", Integer),                      
    Column("commentaire", Text, nullable=True),
    Column("date_avis", DateTime, default=datetime.now())
)
metadata.create_all(engine)


##2. Insérer les données fournies ci-dessus.

with engine.connect() as con :
    stmt=insert(clients).values(nom= "Amine Lahmidi",email="amine@example.com",telephone="+212600123456")
    con.execute(stmt)
    con.commit()

clients_list= [
        {"nom": "Sara Benali","email":"sara.b@example.com","telephone":"+212600654321"},
        {"nom": "Youssef El Khalfi","email":"youssef.k@example.com","telephone":"NULL"},
        {"nom": "Fatima Zahra","email":"fatima.z@example.com","telephone":"+212600987654"},
        {"nom": "Omar Alaoui","email":"omar.a@example.com","telephone":"+212600112233"}
    ]


categories_list=[
    {"nom":"Entrée"},
    {"nom":"Plat principal"},
    {"nom":"Dessert"},
    {"nom":"Boisson"},
    {"nom":"Végétarien"},
]
plats_list = [
    {"nom": "Salade César", "prix": 45.00, "description": "Salade avec poulet grillé", "categorie_id": 1},
    {"nom": "Soupe de légumes", "prix": 30.00, "description": "Soupe chaude de saison", "categorie_id": 1},
    {"nom": "Steak frites", "prix": 90.00, "description": "Viande grillée et frites", "categorie_id": 2},
    {"nom": "Pizza Margherita", "prix": 70.00, "description": "Pizza tomate & mozzarella", "categorie_id": 2},
    {"nom": "Tiramisu", "prix": 35.00, "description": "Dessert italien", "categorie_id": 3},
    {"nom": "Glace 2 boules", "prix": 25.00, "description": "Glace au choix", "categorie_id": 3},
    {"nom": "Coca-Cola", "prix": 15.00, "description": "Boisson gazeuse", "categorie_id": 4},
    {"nom": "Eau minérale", "prix": 10.00, "description": "Eau plate ou gazeuse", "categorie_id": 4},
    {"nom": "Curry de légumes", "prix": 65.00, "description": "Plat végétarien épicé", "categorie_id": 5},
    { "nom": "Falafel wrap", "prix": 50.00, "description": "Wrap avec falafels et légumes", "categorie_id": 5}
]
commandes_list = [
    { "client_id": 1,  "total": 120.00},
    { "client_id": 2,  "total": 85.00},
    { "client_id": 1,  "total": 150.00},
    { "client_id": 3,  "total": 200.00},
    { "client_id": 4,  "total": 95.00},
    { "client_id": 5,  "total": 75.00}
]


commande_plats_list = [
    {"commande_id": 1, "plat_id": 1, "quantite": 1},
    {"commande_id": 1, "plat_id": 3, "quantite": 1},
    {"commande_id": 1, "plat_id": 7, "quantite": 2},
    {"commande_id": 2, "plat_id": 2, "quantite": 1},
    {"commande_id": 2, "plat_id": 4, "quantite": 1},
    {"commande_id": 2, "plat_id": 8, "quantite": 1},
    {"commande_id": 3, "plat_id": 3, "quantite": 1},
    {"commande_id": 3, "plat_id": 5, "quantite": 1},
    {"commande_id": 3, "plat_id": 7, "quantite": 1},
    {"commande_id": 4, "plat_id": 4, "quantite": 2},
    {"commande_id": 4, "plat_id": 9, "quantite": 1},
    {"commande_id": 5, "plat_id": 10, "quantite": 1},
    {"commande_id": 5, "plat_id": 8, "quantite": 2},
    {"commande_id": 6, "plat_id": 7, "quantite": 3},
    {"commande_id": 6, "plat_id": 6, "quantite": 1}
]
fournisseurs_list = [
    { "nom": "AgriFresh", "contact": "contact@agrifresh.com"},
    { "nom": "MeatSupplier", "contact": "info@meatsupplier.com"},
    { "nom": "BevCo", "contact": "sales@bevco.com"},
    { "nom": "DairyFarm", "contact": "dairy@farm.com"}
]
ingredients_list = [
    {"nom": "Poulet", "cout_unitaire": 15.00, "stock": 50, "fournisseur_id": 2},
    {"nom": "Laitue", "cout_unitaire": 5.00, "stock": 20, "fournisseur_id": 1},
    {"nom": "Tomate", "cout_unitaire": 3.00, "stock": 30, "fournisseur_id": 1},
    {"nom": "Mozzarella", "cout_unitaire": 10.00, "stock": 15, "fournisseur_id": 4},
    {"nom": "Pomme de terre", "cout_unitaire": 2.00, "stock": 100, "fournisseur_id": 1},
    {"nom": "Café", "cout_unitaire": 20.00, "stock": 5, "fournisseur_id": 3},
    {"nom": "Sucre", "cout_unitaire": 1.50, "stock": 25, "fournisseur_id": 3},
    {"nom": "Pois chiches", "cout_unitaire": 4.00, "stock": 40, "fournisseur_id": 1}
]
plat_ingredients_list = [
    {"plat_id": 1, "ingredient_id": 1, "quantite_necessaire": 0.2},
    {"plat_id": 1, "ingredient_id": 2, "quantite_necessaire": 0.1},
    {"plat_id": 2, "ingredient_id": 2, "quantite_necessaire": 0.05},
    {"plat_id": 2, "ingredient_id": 5, "quantite_necessaire": 0.1},
    {"plat_id": 3, "ingredient_id": 1, "quantite_necessaire": 0.3},
    {"plat_id": 3, "ingredient_id": 5, "quantite_necessaire": 0.2},
    {"plat_id": 4, "ingredient_id": 3, "quantite_necessaire": 0.1},
    {"plat_id": 4, "ingredient_id": 4, "quantite_necessaire": 0.15},
    {"plat_id": 5, "ingredient_id": 6, "quantite_necessaire": 0.05},
    {"plat_id": 5, "ingredient_id": 7, "quantite_necessaire": 0.02},
    {"plat_id": 9, "ingredient_id": 8, "quantite_necessaire": 0.1},
    {"plat_id": 10, "ingredient_id": 8, "quantite_necessaire": 0.15}
]
avis_list = [
    { "client_id": 1, "plat_id": 1, "note": 4, "commentaire": "Très frais, poulet bien cuit"},
    { "client_id": 2, "plat_id": 4, "note": 5, "commentaire": "Meilleure pizza du coin !"},
    { "client_id": 3, "plat_id": 9, "note": 3, "commentaire": "Un peu trop épicé"},
    { "client_id": 4, "plat_id": 10, "note": 4, "commentaire": "Bon, mais manque de sauce"},
    { "client_id": 5, "plat_id": 6, "note": 5, "commentaire": "Glace délicieuse"}
]
tables_objects_ordered = [
    (categories, categories_list),
    (plats, plats_list),
    (clients, clients_list),
    (commandes, commandes_list),
    (commande_plats, commande_plats_list),
    (fournisseurs, fournisseurs_list),
    (ingredients, ingredients_list),
    (plat_ingredients, plat_ingredients_list),
    (avis, avis_list)
]

    
with engine.connect() as con:
    for table_obj, data_list in tables_objects_ordered:
        con.execute(insert(table_obj), data_list)
    con.commit()

 Connexion réussie à PostgreSQL

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "commandes" violates foreign key constraint "commandes_client_id_fkey"
DETAIL:  Key (client_id)=(3) is not present in table "clients".

[SQL: INSERT INTO commandes (client_id, date_commande) VALUES (%(client_id__0)s, %(date_commande__0)s), (%(client_id__1)s, %(date_commande__1)s), (%(client_id__2)s, %(date_commande__2)s), (%(client_id__3)s, %(date_commande__3)s), (%(client_id__4)s, %(date_commande__4)s), (%(client_id__5)s, %(date_commande__5)s)]
[parameters: {'date_commande__0': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__0': 1, 'date_commande__1': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__1': 2, 'date_commande__2': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__2': 1, 'date_commande__3': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__3': 3, 'date_commande__4': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__4': 4, 'date_commande__5': datetime.datetime(2025, 9, 24, 0, 37, 50, 785152), 'client_id__5': 5}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [4]:
from sqlalchemy import select,create_engine,desc,func
from tabulate import tabulate

engine = create_engine('postgresql://postgres:1234@localhost:5432/gestion_restaurant')

# 3. Lister tous les plats triés par prix décroissant.
with engine.begin() as con :
    stmt = select (plats.c.nom ,plats.c.prix,plats.c.description).order_by(desc(plats.c.prix))  
    result = con.execute(stmt)
    # for row in result:
    #     print(row)

headers = ["Nom", "Prix", "Description"]
print(tabulate(result, headers=headers, tablefmt="psql"))

# 4. Lister tous les plats dont le prix est compris entre 30 et 80.
with engine.begin() as con :
    stmt=select(plats.c.nom,plats.c.prix,plats.c.description).where(plats.c.prix.between(30,80))
    result=con.execute(stmt)
headers=["Nom","Prix","Description"]
print(tabulate(result,headers=headers,tablefmt="psql"))

# 5. Afficher les clients dont le nom commence par "S" ou "F".
with engine.begin() as con :
    stmt =select(clients.c.nom).where((clients.c.nom.like('S%'))|(clients.c.nom.like('F%')))
    result=con.execute(stmt)
    rows=result.fetchall()
print(tabulate(rows,headers=result.keys(),tablefmt="psql"))
# # 6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).

# with engine.begin() as con :
#     stmt =select(plats.c.nom,categories.c.nom).join(categories,plats.c.catgorie_ids==categories.c.id)
#     result=con.execute(stmt).all()
# headers=["nom","nom de categorie"]
# print(tabulate(result,headers=headers,tablefmt="psql"))

# # 7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.

with engine.begin() as con :
    stmt =select(clients.c.nom,commandes.c.date_commande).join(commandes,clients.c.id==commandes.c.client_id).join(commande_plats,commandes.c.id==commande_plats.c.commande_id)
    result=con.execute(stmt).all()
headers=["nom","date de commande"]
print(tabulate(result,headers=headers,tablefmt="psql"))

# 8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
# 9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.
# 10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
# 11. Afficher le nombre de commandes par client, trié par ordre décroissant.
# 12. Afficher les clients ayant passé plus de deux commandes.

+------------------+--------+-------------------------------+
| Nom              |   Prix | Description                   |
|------------------+--------+-------------------------------|
| Steak frites     |     90 | Viande grillée et frites      |
| Pizza Margherita |     70 | Pizza tomate & mozzarella     |
| Curry de légumes |     65 | Plat végétarien épicé         |
| Falafel wrap     |     50 | Wrap avec falafels et légumes |
| Salade César     |     45 | Salade avec poulet grillé     |
| Tiramisu         |     35 | Dessert italien               |
| Soupe de légumes |     30 | Soupe chaude de saison        |
| Glace 2 boules   |     25 | Glace au choix                |
| Coca-Cola        |     15 | Boisson gazeuse               |
| Eau minérale     |     10 | Eau plate ou gazeuse          |
+------------------+--------+-------------------------------+
+------------------+--------+-------------------------------+
| Nom              |   Prix | Description                   |
|------------------+--------+-------------------------------|
| Salade César     |     45 | Salade avec poulet grillé     |
| Soupe de légumes |     30 | Soupe chaude de saison        |
| Pizza Margherita |     70 | Pizza tomate & mozzarella     |
| Tiramisu         |     35 | Dessert italien               |
| Curry de légumes |     65 | Plat végétarien épicé         |
| Falafel wrap     |     50 | Wrap avec falafels et légumes |
+------------------+--------+-------------------------------+
+--------------+
| nom          |
|--------------|
| Sara Benali  |
| Fatima Zahra |
+--------------+
+-------------------+----------------------------+
| nom               | date de commande           |
|-------------------+----------------------------|
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Sara Benali       | 2025-09-23 11:13:59.137985 |
| Sara Benali       | 2025-09-23 11:13:59.137985 |
| Sara Benali       | 2025-09-23 11:13:59.137985 |
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Amine Lahmidi     | 2025-09-23 11:13:59.137985 |
| Youssef El Khalfi | 2025-09-23 11:13:59.137985 |
| Youssef El Khalfi | 2025-09-23 11:13:59.137985 |
| Fatima Zahra      | 2025-09-23 11:13:59.137985 |
| Fatima Zahra      | 2025-09-23 11:13:59.137985 |
| Omar Alaoui       | 2025-09-23 11:13:59.137985 |
| Omar Alaoui       | 2025-09-23 11:13:59.137985 |
+-------------------+----------------------------+

In [54]:
from sqlalchemy import select,create_engine,desc,func,text,delete
from datetime import date

from tabulate import tabulate

engine = create_engine('postgresql://postgres:1234@localhost:5432/gestion_restaurant')
# # 7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.

with engine.begin() as con :
    stmt =select(clients.c.nom,commandes.c.date_commande,func.count(commande_plats.c.commande_id)).join(commandes,clients.c.id==commandes.c.client_id).join(commande_plats,commandes.c.id==commande_plats.c.commande_id).group_by(clients.c.nom,commandes.c.date_commande)
    result=con.execute(stmt).all()
headers=["nom","date de commande","count"]
print(tabulate(result,headers=headers,tablefmt="psql"))
# 8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.
# with engine.connect() as con :
#     stmt=select(plats.c.nom,commandes.c.id,func.count(commande_plats.id),func.sum(ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire * commande_plats.c.quantite)).join(commande_plats,plats.c.id==commande_plats.plat_id).join(plat_ingredients,plats.c.id==plat_ingredients.c.plat_id).join(ingredients,plats.c.id==plat_ingredients.plat_id).group_by(commande_plats.c.commande_id,plats.c.nom)
#     result=con.execute(stmt).all()
# headers=["nom","count"]
# print(tabulate(result,headers=headers,tablefmt="psql"))


stmt = (
            select(
                commandes.c.id.label("commande_id"),
                plats.c.nom.label("plat"),
                commande_plats.c.quantite.label("quantite"),
                func.sum(
                    ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire * commande_plats.c.quantite
                ).label("cout_total_ingredients")
            )
            
            .join(commande_plats, commande_plats.c.plat_id == plats.c.id)
            .join(plat_ingredients, plat_ingredients.c.plat_id == plats.c.id)
            .join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id)
            .join(commandes, commandes.c.id == commande_plats.c.commande_id)
            .group_by(commandes.c.id, plats.c.nom, commande_plats.c.quantite)
        )

with engine.connect() as con:
    result = con.execute(stmt).all()

headers = ["commande_id", "plat", "quantite", "cout_total_ingredients"]
print(tabulate(result, headers=headers, tablefmt="psql"))


# 9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.


stmt= (
      select( categories.c.nom,func.count(plats.c.categorie_id).label('nbr'))
       .select_from(categories.outerjoin(plats,categories.c.id==plats.c.categorie_id)
        )
       .group_by(categories.c.nom)
      )


with engine.connect() as con:
    result = con.execute(stmt).all()

headers = ["nom de la categorie", "nombre des plats"]
print(tabulate(result, headers=headers, tablefmt="psql"))
# 10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.
categorie_avg=(select(plats.c.categorie_id ,func.avg(plats.c.prix).label("cat_plat_avg"))
.group_by(plats.c.categorie_id).cte("categorie_avg")
               )
stmt = (select(categories.c.nom,plats.c.nom,categorie_avg.c.cat_plat_avg,func.avg(plat_ingredients.c.quantite_necessaire*ingredients.c.cout_unitaire).label("count"))
 .select_from(categories
    .join(plats,categories.c.id==plats.c.categorie_id) 
    .join(plat_ingredients,plats.c.id==plat_ingredients.c.plat_id)
    .join(ingredients,plat_ingredients.c.ingredient_id==ingredients.c.id)
    .join( categorie_avg,categorie_avg.c.categorie_id==plats.c.categorie_id))
).group_by(categories.c.nom,plats.c.nom,categorie_avg.c.cat_plat_avg)

              
              

 

with engine.connect() as con:
    result = con.execute(stmt).all()

headers = ["nom de la categorie", "prix moyen des plats","nom de plat","coût moyen des ingrédients"]
print(tabulate(result, headers=headers, tablefmt="psql"))
# 11. Afficher le nombre de commandes par client, trié par ordre décroissant.
nombre_commandes = func.count(commandes.c.client_id).label("nombre_commandes")

stmt=(select(clients.c.nom,nombre_commandes)
      .select_from(clients.join(commandes,clients.c.id==commandes.c.client_id))
        # .join(clients,clients.c.id==commandes.c.client_id)
        .group_by(clients.c.nom)
        .order_by(nombre_commandes))
with engine.connect() as con:
    result = con.execute(stmt).all()

headers = ["nom de client", "nombre_commandes"]
print(tabulate(result, headers=headers, tablefmt="psql"))
# 12. Afficher les clients ayant passé plus de deux commandes.
nombre_commandes = func.count(commandes.c.client_id)

stmt=(select(clients.c.nom,nombre_commandes)
      .select_from(clients.join(commandes,clients.c.id==commandes.c.client_id))
        # .join(clients,clients.c.id==commandes.c.client_id)
        .group_by(clients.c.nom)
        .having(nombre_commandes>1)
        .order_by(nombre_commandes))
with engine.connect() as con:
    result = con.execute(stmt).all()
headers = ["nom de client", "nombre_commandes"]
print(tabulate(result, headers=headers, tablefmt="psql"))

# 13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).
stmt=(select(plats.c.nom,func.count(commande_plats.c.plat_id),func.avg(avis.c.note),func.sum(commande_plats.c.quantite))
      .select_from(plats
                   .join(commande_plats,plats.c.id==commande_plats.c.plat_id)
                   .join(avis,avis.c.plat_id==plats.c.id)
                )
        .group_by(plats.c.nom)
        .order_by(desc(func.count(commande_plats.c.plat_id)))
        .limit(3)
      
      )
with engine.connect() as con:
    result = con.execute(stmt).all()
headers = ["nom plat","avg","qt"]
print(tabulate(result, headers=headers, tablefmt="psql"))

# 14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).
stmt=(select(commandes.c).where(commandes.c.date_commande.between(date(2025,7,1),date(2025,9,30))))
with engine.connect() as con:
    result = con.execute(stmt).all()
headers = ["id","client_id","date"]
print(tabulate(result, headers=headers, tablefmt="psql"))
# 15. Afficher la commande la plus récente avec le nom du client et les plats commandés.
with engine.begin() as con:
    supquery=(select(commandes.c.id).order_by(desc(commandes.c.date_commande)).limit(1).cte("supquery"))
    stmt=(select(commandes.c.id,commandes.c.date_commande,clients.c.nom,plats.c.nom)
          .select_from( commandes
        .join(clients, commandes.c.client_id == clients.c.id)
        # .join(supquery, commandes.c.id == supquery.c.id)
        .join(commande_plats, commande_plats.c.commande_id == commandes.c.id)
        .join(plats, plats.c.id == commande_plats.c.plat_id)).group_by(commandes.c.id,commandes.c.date_commande,clients.c.nom,plats.c.nom)
        .where(commandes.c.id == supquery.c.id)
        .order_by(desc(commandes.c.date_commande)).limit(3))
    result=con.execute(stmt)
headers=["date de commande","nom de client","nom de plat"]
print(tabulate(result,headers=headers,tablefmt="psql"))
# 16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.
with engine.begin() as con:
    stmt= (select(commandes.c.id,clients.c.nom,clients.c.telephone)
           .select_from(commandes
                        .join(clients,clients.c.id==commandes.c.client_id)
                        .join(commande_plats,commande_plats.c.commande_id==commandes.c.id)
                        .join(plats,plats.c.id==commande_plats.c.plat_id))
            .group_by(commandes.c.id,clients.c.nom,clients.c.telephone)
            .having(func.sum(commande_plats.c.quantite*plats.c.prix)>150)
        )
    result=con.execute(stmt)
headers = ["ID commande", "Nom client", "Téléphone"]
print(tabulate(result,headers=headers,tablefmt="psql"))
# 17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.
with engine.begin() as con:
    cout_total=func.sum(plat_ingredients.c.quantite_necessaire*ingredients.c.cout_unitaire)
 
    stmt= (select(plats.c.id,plats.c.nom,cout_total.label("cout_total"))
           .select_from(plats
                        .join(plat_ingredients,plats.c.id==plat_ingredients.c.plat_id)
                        .join(ingredients,plat_ingredients.c.ingredient_id==ingredients.c.id))
            .group_by(plats.c.id,plats.c.nom,plats.c.prix)
            .having(cout_total>plats.c.prix*0.5)
        )
    result=con.execute(stmt)
headers = ["ID plat", "Nom plat", "Coût total ingrédients"]
print(tabulate(result,headers=headers,tablefmt="psql"))
# 18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.

# 19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.
with engine.begin() as con:
    stmt=delete(clients).where(clients.c.nom == "Youssef El Khalfi")

    con.execute(stmt)
#     20. Afficher pour chaque client :
#     - Son nom
#     - Le nombre total de plats commandés
#     - Le montant total dépensé
#     - La note moyenne de leurs avis

with engine.begin() as con:
    stmt = (
        select(
            clients.c.nom.label("client"),
            func.coalesce(func.sum(commande_plats.c.quantite), 0).label("total_plats"),
            func.coalesce(func.sum(commande_plats.c.quantite * plats.c.prix), 0).label("montant_total"),
            func.coalesce(func.avg(avis.c.note), 0).label("note_moyenne")
        )
        .outerjoin(commandes, clients.c.id == commandes.c.client_id)
        .outerjoin(commande_plats, commandes.c.id == commande_plats.c.commande_id)
        .outerjoin(plats, commande_plats.c.plat_id == plats.c.id)
        .outerjoin(avis, clients.c.id == avis.c.client_id)
        .group_by(clients.c.nom)
        .order_by(clients.c.nom)
    )

    result = con.execute(stmt).all()

from tabulate import tabulate
headers = ["Client", "Nombre total plats", "Montant total", "Note moyenne"]
print(tabulate(result, headers=headers, tablefmt="psql"))

# 21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.

with engine.begin() as con:
    # calculer la quantité totale par plat
    stmt = (
        select(
            plats.c.nom.label("plat"),
            categories.c.nom.label("categorie"),
            func.sum(commande_plats.c.quantite).label("quantite_totale")
        )
        .join(categories, plats.c.categorie_id == categories.c.id)
        .join(commande_plats, plats.c.id == commande_plats.c.plat_id)
        .group_by(plats.c.nom, categories.c.nom)
        .order_by(desc("quantite_totale"))
        .limit(3)
    )

    result = con.execute(stmt).all()

from tabulate import tabulate
headers = ["Plat", "Catégorie", "Quantité totale"]
print(tabulate(result, headers=headers, tablefmt="psql"))

# 22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.

# 23. Créer une vue virtuelle (SELECT) qui affiche :
#     - Le nom du client
#     - Les plats commandés
#     - Les quantités
#     - La date de la commande
#     - La note moyenne du plat (via avis)
# 24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

with engine.begin() as con:
    # Calcul du coût total par fournisseur pour les ingrédients < 10
    stmt = (
        select(
            fournisseurs.c.nom.label("fournisseur"),
            func.sum(ingredients.c.stock * ingredients.c.cout_unitaire).label("cout_total_stock")
        )
        .join(ingredients, fournisseurs.c.id == ingredients.c.fournisseur_id)
        .where(ingredients.c.stock < 10)
        .group_by(fournisseurs.c.nom)
        .order_by("cout_total_stock")
    )

    result = con.execute(stmt).all()

from tabulate import tabulate
headers = ["Fournisseur", "Coût total des ingrédients en stock"]
print(tabulate(result, headers=headers, tablefmt="psql"))

+---------------+----------------------------+---------+
| nom           | date de commande           |   count |
|---------------+----------------------------+---------|
| Omar Alaoui   | 2025-09-23 11:13:59.137985 |       2 |
| Amine Lahmidi | 2025-09-23 11:13:59.137985 |       6 |
| Sara Benali   | 2025-09-23 11:13:59.137985 |       3 |
| Fatima Zahra  | 2025-09-23 11:13:59.137985 |       2 |
+---------------+----------------------------+---------+
+---------------+------------------+------------+--------------------------+
|   commande_id | plat             |   quantite |   cout_total_ingredients |
|---------------+------------------+------------+--------------------------|
|             5 | Falafel wrap     |          1 |                     0.6  |
|             2 | Pizza Margherita |          1 |                     1.8  |
|             3 | Steak frites     |          1 |                     4.9  |
|             2 | Soupe de légumes |          1 |                     0.45 |
|             1 | Steak frites     |          1 |                     4.9  |
|             1 | Salade César     |          1 |                     3.5  |
|             3 | Tiramisu         |          1 |                     1.03 |
+---------------+------------------+------------+--------------------------+
+-----------------------+--------------------+
| nom de la categorie   |   nombre des plats |
|-----------------------+--------------------|
| Boisson               |                  2 |
| Plat principal        |                  2 |
| Entrée                |                  2 |
| Végétarien            |                  2 |
| Dessert               |                  2 |
+-----------------------+--------------------+
+-----------------------+------------------------+---------------+------------------------------+
| nom de la categorie   | prix moyen des plats   |   nom de plat |   coût moyen des ingrédients |
|-----------------------+------------------------+---------------+------------------------------|
| Dessert               | Tiramisu               |          30   |                        0.515 |
| Végétarien            | Falafel wrap           |          57.5 |                        0.6   |
| Végétarien            | Curry de légumes       |          57.5 |                        0.4   |
| Entrée                | Soupe de légumes       |          37.5 |                        0.225 |
| Entrée                | Salade César           |          37.5 |                        1.75  |
| Plat principal        | Pizza Margherita       |          80   |                        0.9   |
| Plat principal        | Steak frites           |          80   |                        2.45  |
+-----------------------+------------------------+---------------+------------------------------+
+-----------------+--------------------+
| nom de client   |   nombre_commandes |
|-----------------+--------------------|
| Fatima Zahra    |                  1 |
| Omar Alaoui     |                  1 |
| Sara Benali     |                  1 |
| Amine Lahmidi   |                  2 |
+-----------------+--------------------+
+-----------------+--------------------+
| nom de client   |   nombre_commandes |
|-----------------+--------------------|
| Amine Lahmidi   |                  2 |
+-----------------+--------------------+
+------------------+------------+-------+------+
|                  |   nom plat |   avg |   qt |
|------------------+------------+-------+------|
| Salade César     |          1 |     4 |    1 |
| Pizza Margherita |          1 |     5 |    1 |
| Glace 2 boules   |          1 |     5 |    1 |
+------------------+------------+-------+------+
+------+-------------+----------------------------+
|   id |   client_id | date                       |
|------+-------------+----------------------------|
|    1 |           1 | 2025-09-23 11:13:59.137985 |
|    2 |           2 | 2025-09-23 11:13:59.137985 |
|    3 |           1 | 2025-09-23 11:13:59.137985 |
|    5 |           4 | 2025-09-23 11:13:59.137985 |
|    6 |           5 | 2025-09-23 11:13:59.137985 |
+------+-------------+----------------------------+
+----+----------------------------+-----------------+---------------+
|    | date de commande           | nom de client   | nom de plat   |
|----+----------------------------+-----------------+---------------|
|  1 | 2025-09-23 11:13:59.137985 | Amine Lahmidi   | Coca-Cola     |
|  1 | 2025-09-23 11:13:59.137985 | Amine Lahmidi   | Salade César  |
|  1 | 2025-09-23 11:13:59.137985 | Amine Lahmidi   | Steak frites  |
+----+----------------------------+-----------------+---------------+
+---------------+---------------+---------------+
|   ID commande | Nom client    |     Téléphone |
|---------------+---------------+---------------|
|             1 | Amine Lahmidi | +212600123456 |
+---------------+---------------+---------------+
+-----------+------------+--------------------------+
| ID plat   | Nom plat   | Coût total ingrédients   |
|-----------+------------+--------------------------|
+-----------+------------+--------------------------+
+---------------+----------------------+-----------------+----------------+
| Client        |   Nombre total plats |   Montant total |   Note moyenne |
|---------------+----------------------+-----------------+----------------|
| Amine Lahmidi |                    7 |             305 |              4 |
| Fatima Zahra  |                    3 |              70 |              4 |
| Omar Alaoui   |                    4 |              70 |              5 |
| Sara Benali   |                    3 |             110 |              5 |
+---------------+----------------------+-----------------+----------------+
+--------------+----------------+-------------------+
| Plat         | Catégorie      |   Quantité totale |
|--------------+----------------+-------------------|
| Coca-Cola    | Boisson        |                 6 |
| Eau minérale | Boisson        |                 3 |
| Steak frites | Plat principal |                 2 |
+--------------+----------------+-------------------+
+---------------+---------------------------------------+
| Fournisseur   |   Coût total des ingrédients en stock |
|---------------+---------------------------------------|
| BevCo         |                                   100 |
+---------------+---------------------------------------+

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, insert, select

# Connexion
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/gestion_restaurant", echo=True)
metadata = MetaData()
stmt= (
      select(
             categories.c.nom, 
             func.count(plats.c.categorie_id).label('nbr')
      )
       .select_from(categories.outerjoin(plats,categories.c.id==plats.c.categorie_id)
        )
       .group_by(categories.c.nom)
      )


with engine.connect() as con:
    result = con.execute(stmt).all()

headers = ["nom de la categorie", "nombre des plats"]
print(tabulate(result, headers=headers, tablefmt="psql"))

2025-09-23 11:35:37,381 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-09-23 11:35:37,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-23 11:35:37,385 INFO sqlalchemy.engine.Engine select current_schema()
2025-09-23 11:35:37,386 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-23 11:35:37,388 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-09-23 11:35:37,389 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-23 11:35:37,391 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-23 11:35:37,392 INFO sqlalchemy.engine.Engine SELECT categories.nom, count(plats.categorie_id) AS nbr
FROM categories LEFT OUTER JOIN plats ON categories.id = plats.categorie_id GROUP BY categories.nom
2025-09-23 11:35:37,393 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {}
2025-09-23 11:35:37,400 INFO sqlalchemy.engine.Engine ROLLBACK
+-----------------------+--------------------+
| nom de la categorie   |   nombre des plats |
|-----------------------+--------------------|
| Boisson               |                  2 |
| Plat principal        |                  2 |
| Entrée                |                  2 |
| Végétarien            |                  2 |
| Dessert               |                  2 |
+-----------------------+--------------------+